/*Estilo del fxml*/
.root {
    -fx-background-color: #f0edec;
}
.table-view {
    -fx-background-color: #ffc5b2;
    -fx-border-color:black;
    -fx-border-width: 2px;
}
.button {
    -fx-background-color: #f0edec;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-padding: 5 15 5 15;
}
.button:hover {
    -fx-background-color: black;
    -fx-text-fill: #049da2;
}

.text-field {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-color: black;
    -fx-border-radius: 2;
}
.text-field .text {
    -fx-fill: black;
}
.label {
     -fx-text-fill: #d76f07;
     -fx-font-size: 12px;
 }
 .root {
     -fx-font-family: "Arial";
     -fx-font-size: 12px;
 }